<!doctype html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<link rel="shortcut icon" type="image/png" href="images/stocks-16.png"/>
<script src="https://cdn.bootcss.com/require.js/2.3.5/require.js"></script>
<!-- 
<script data-main="js/securejson_adapter.js" src="https://cdn.bootcss.com/require.js/2.3.5/require.js"></script>
 -->
<script src="js/portfolio/portfolio.js" type="module"></script>

<html>
	<head>
		<style type="text/css">
			.row-margin-20 {margin-top:10px;margin-bottom:10px};
		</style>
	</head>
	<meta charset="utf-8">
	<title>Portfolio</title>
	<body>
		<div id="app" class="container-fluid" style="max-width:950px;">
			<div class="row bg-dark text-light row-margin-20">
				<div class="col-md-10">
					<h1>
					<img height="64px" width="64px" src="images/stocks-100.png"/>
					Portfolio <small>Manage your portfolio</small></h1>
				</div>
				<div class="col-md-2">
						<button v-if="isLogined" class="btn pull-right btn-link" v-on:click="logout">Logout {{userName}}</button>
				</div>
			</div>
		
			<div class="row align-items-center row-margin-20" v-if="!isLogined" style="height:480px;">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<input v-if="!isLogined" class="form-control" id="login.user" placeholder="User Name"/>
				<input v-if="!isLogined" type="password" class="form-control" id="login.passwd" placeholder="Password"/>
				<button v-if="!isLogined" class="btn pull-right btn-primary" v-on:click="login">Login</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		
			<div class="row row-margin-20" v-if="isLogined">
				<div class="col-md-12">
					<vtable 
						v-bind:titles="componentData.tableData.titles" 
						v-bind:datas="componentData.tableData.datas" 
						v-bind:commands="componentData.tableData.commands" 
						v-on:command="setCommand($event.command,componentData.tableData.datas[$event.index].id)">
					</vtable>
				</div>
			</div>
			<div class="row row-margin-20" v-if="isLogined">
				<div class="col-md-4">
					<div class="tabbable" id="tabs">
						<ul class="nav nav-tabs">
							<li class="nav-item" v-for="(cmd,key) in componentData.commandData">
								<a class="nav-link" v-bind:href="'#tab'+key" data-toggle="tab">{{cmd.name}}</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane" v-bind:id="'tab'+key" data-toggle="pane" v-for="(cmd,key) in componentData.commandData">
							<vform 
								v-bind:datas="cmd.datas"
								v-on:submit="commandSubmit(key, $event)" 
								v-bind:button_name="cmd.name"
							></vform>
		
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<h3>
						Statistics
						<button v-if="!componentData.statisticsData.editing" class="btn btn-link btn-sm" v-on:click="componentData.statisticsData.editing=true">edit</button> 
						<button v-if="componentData.statisticsData.editing" class="btn btn-success btn-sm" v-on:click="doStatistics">Done</button> 
					</h3>
					<veditable 
						v-for="tag in componentData.statisticsData.shownTagsAsEditable"
						v-bind:editing="componentData.statisticsData.editing" 
						v-bind:title="tag.displayAs" 
						v-model="componentData.statisticsData.data[tag.key]" 
					></veditable>
					<veditable 
						v-if="componentData.statisticsData.editing"
						v-for="tag in componentData.statisticsData.hidenTagsAsEditable"
						v-bind:editing="true" 
						v-bind:title="tag.displayAs" 
						v-model="componentData.statisticsData.data[tag.key]" 
					></veditable>
					<veditable 
						v-for="tag in componentData.statisticsData.shownTagsAsReadonly"
						v-bind:editing="false" 
						v-bind:title="tag.displayAs" 
						v-model="componentData.statisticsData.data[tag.key]" 
					></veditable>
				</div>
			</div>
		</div>

</body>
</html>